<sly-field
          title="Choose import parameters:">

    <sly-field title="Dataset resolution" style="margin: 0 10px 0 0;">
            <el-select v-model="state.resolution" placeholder="Select resolution">
                <el-option key="480p" label="480p" value="480p"></el-option>
                <el-option key="Full Resolution" label="Full-Resolution" value="Full-Resolution"></el-option>
            </el-select>
    </sly-field>

    <sly-field title="Choose datasets you want to get:">
            <el-checkbox-group v-model="state.currDataset" >
                <el-checkbox label="TrainVal"></el-checkbox>
                <el-checkbox label="TestDev"></el-checkbox>
                <el-checkbox label="TestChallenge"></el-checkbox>
            </el-checkbox-group>
    </sly-field>


</sly-field>