<sly-field
          title="Get statistics"
          description="Choose if you want to get statistics for the project or video:">

    <sly-field title="Dataset resolution" style="margin: 0 10px 0 0;">
            <el-select v-model="state.provider" placeholder="Select resolution">
                <el-option key="google" label="google cloud storage" value="google"></el-option>
                <el-option key="amazon" label="amazon s3" value="s3"></el-option>
            </el-select>
    </sly-field>

    <sly-field title="Choose statistics you want to get:">
            <el-checkbox-group v-model="state.currDataset" >
                <el-checkbox label="Train Val"></el-checkbox>
                <el-checkbox label="Test Dev"></el-checkbox>
                <el-checkbox label="Test Challenge "></el-checkbox>
            </el-checkbox-group>
    </sly-field>


</sly-field>