<div>
      <sly-card
            class="mt15"
            title="Choose datasets:"
    >

            <sly-field title="Dataset year:" style="margin: 0 10px 0 0;">
            <el-select v-model="state.davisYear" placeholder="Select dataset year">
                <el-option key="2017" label="2017" value="2017"></el-option>
                <el-option key="2016" label="2016" value="2016"></el-option>
            </el-select>
            </sly-field>

            <sly-field title="Resolution:" style="margin: 10px 10px 0 0;">
            <el-select v-model="state.resolution" placeholder="Select resolution">
                <el-option key="480p" label="480p" value="480p"></el-option>
                <el-option key="Full Resolution" label="Full Resolution" value="Full-Resolution"></el-option>
            </el-select>
            </sly-field>

            <sly-field title="Type:" style="margin: 10px 10px 0 0;">
            <el-select :disabled="state.davisYear == 2016"  v-model="state.type" placeholder="Select type">
                <el-option key="Semi-supervised" label="Semi-supervised" value="Semi-supervised"></el-option>
                <el-option key="Unsupervised" label="Unsupervised" value="Unsupervised"></el-option>
            </el-select>
            </sly-field>

            <sly-field title="Dataset:" style="margin: 10px 10px 0 0;">
            <el-checkbox-group v-model="state.currDataset" >
                <div>
                <el-checkbox :disabled="state.davisYear == 2016" label="TrainVal" style="margin: 5px 10px 0 0"></el-checkbox>
                </div>
                <div>
                <el-checkbox :disabled="state.davisYear == 2016" label="TestDev" style="margin: 5px 10px 0 0"></el-checkbox>
                </div>
                <el-checkbox :disabled="state.davisYear == 2016" label="TestChallenge" style="margin: 5px 10px 0 0"></el-checkbox>
            </el-checkbox-group>
            </sly-field>

      </sly-card>

</div>